:root{
    --light-blue: #ffffff;
    --button-color-1: rgb(103, 103, 255);

    --transition-speed: .2s;
}

body{
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-section{
    background-color: wheat;
    width: 50%;
    height: 75px;
    border-width: 10px;
    border-radius: 10px;
    border: 5px solid white; 
    text-align: center;
    margin: 10px;
}



.button{
    background-color: var(--button-color-1);
    text-decoration: none;
    outline: none;
    width: 500px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    margin: 30px;
    transition: background-color var(--transition-speed);
}

